
<h2>Hi, it's Monika</h2>
<div>
  <p>This is my very first RoR application I put online. <br>I've started my journey with RoR on Rails Girls workshops, this year, in June.</p>
  <p>Since that time I constanly learing something new about RoR, and I have to say... I like it :) </p>
</div>
